.card {
    height: 370x;
    width: 200px;
    transition: transform 0.25s ease-in-out;
}

.card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.8rem;
    border: solid white 0.2rem;

}

.card #rating {
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    position: relative;
    left: 0.2rem;
}

.card #name {
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    color: antiquewhite;
    position: relative;
    left: 0.2rem;
}

.card #name:hover {
    color: yellow;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.2);
}