<app-toolbar></app-toolbar>
<div class="container">
        <div class="banner">
                <div class="welcome">Welcome!</div>
                <div class="quote_container">
                <div class="quote">WHEN TVSHOWS MATURED LIKE A FINE-WINE</div>
                <div class="quote2">Watch Trailer & Revisit These Classics.</div>
                </div>
        </div>
        <div class="track">
                <div *ngFor="let tvshow of tvshows">
                <app-card [item]="tvshow"></app-card>
                </div>
        </div>
</div>